<div class="col-md-3">
  <div class="card" style="width: 10rem;">
    <div class="card-header">
      People to Follow
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= gravatar_image_tag(current_user.email) %>
        <strong>Tim Ferriss</strong>
        @timferriss</li>
      <li class="list-group-item">
        <strong>Sam Harris</strong>
        @samharris</li>
      <li class="list-group-item">
        <strong>Eric Weinstein</strong>
        @ericweinstein</li>
    </ul>
  </div>
</div>
