<div class="jumbotron">
  <h1 class="display-4">Twitter Clone</h1>
  <p class="lead">A poor man's Twitter implementing some of the functionality.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Tweet Something", tweets_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
